.library-header, .book-row{
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
}

.book-row{
    background-color: #f9f9f9;
}

span, .books{
    padding: 15px;
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.books{
    font-size: 16px;
}

h1{
    text-align: center;
}

#actionButtons{
    display: flex;
    justify-content: space-between;
}

dialog{
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

#addBook-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#addBookBtn{
    margin-bottom: 15px;
    border: 1px solid #2ecc71;
}

#submitForm{
    background-color: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

#cancelForm{
    background-color: transparent;
    border: 1px solid #e74c3c; /* A red border */
    color: #e74c3c;
}

input{
    padding: 5px 10px;
    border: 1px solid gainsboro;
    border-radius: 7px;
}

#readStatus{
    margin: 0px;
    margin-right: 10px;
}

.deleteBtn{
    background-color: transparent;
    border: 1px solid #e74c3c; /* A red border */
    color: #e74c3c;
}